In [1]:
print([1, 24, 76])

[1, 24, 76]

In [2]:
print(['red', 'yellow', 'blue'])

['red', 'yellow', 'blue']

In [3]:
print(['red', 24, 98.6])

['red', 24, 98.6]

In [4]:
print([1, [5,6], 7])

[1, [5, 6], 7]

In [5]:
print([])

[]

In [7]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff

In [8]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [9]:
friends = ['Joseph', 'Glenn', 'Sally']
print(friends[1])

Glenn

In [10]:
fruit = 'Banana'
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [11]:
x = fruit.lower()
print(x)

banana

In [12]:
print(fruit)

Banana

In [13]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [14]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

In [15]:
greet = 'Hello Bob'
print(len(greet))

9

In [17]:
x = [1, 2, 'joe', 99]
print(len(x))

4

In [18]:
print(range(4))

range(0, 4)

In [19]:
friends = ['Joseph', 'Glenn', 'Sally']
print(range(len(friends)))

range(0, 3)

In [20]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [21]:
friends = ['Joseph', 'Glenn', 'Sally']
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [23]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [24]:
t = [9, 41, 12, 3, 74, 15]
t[1:3]

[41, 12]

In [25]:
t[:4]

[9, 41, 12, 3]

In [26]:
t[3:]

[3, 74, 15]

In [27]:
t[:]

[9, 41, 12, 3, 74, 15]

In [29]:
x  = list()
type(x)

list

In [30]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [37]:
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

In [38]:
some = [1, 9, 21, 10, 16]
9 in some

True

In [39]:
15 in some

False

In [40]:
20 not in some

True

In [41]:
friends = ['Joseph', 'Glenn', 'Sally']
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [42]:
print(friends[1])

Joseph

In [43]:
nums = [3, 41, 12, 9, 74, 15]
print (len(nums))

6

In [44]:
print(max(nums))

74

In [45]:
print(min(nums))

3

In [46]:
print(sum(nums))

154

In [47]:
print(sum(nums)/len(nums))

25.666666666666668

In [2]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value
    count = count + 1
    
average = total / count
print('Average: ', average)

Enter a number: 3
Enter a number: 9
Enter a number: 5
Enter a number: done
Average:  5.666666666666667

In [4]:
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 3
Enter a number: 9
Enter a number: 5
Enter a number: done
Average: 5.666666666666667

In [5]:
[1,2,3] * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [14]:
t = [3, 2, 1]
t.sort()
print(t)
t = t.sort()
print(t)

[1, 2, 3]
None

In [15]:
fhand = open('mbox-short.txt') 
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From ') : 
        continue 
    words = line.split()
    print(words[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

In [11]:
fhand = open('mbox-short.txt') 
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From ') : 
        continue 
    words = line.split()
    email = words[1]
    pieces = email.split('@') 
    print(pieces[1])

uct.ac.za
media.berkeley.edu
umich.edu
iupui.edu
umich.edu
iupui.edu
iupui.edu
iupui.edu
umich.edu
umich.edu
umich.edu
umich.edu
iupui.edu
umich.edu
caret.cam.ac.uk
gmail.com
uct.ac.za
uct.ac.za
uct.ac.za
uct.ac.za
uct.ac.za
media.berkeley.edu
media.berkeley.edu
media.berkeley.edu
iupui.edu
iupui.edu
iupui.edu

In [12]:
t = list()
type(t)

list

In [13]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
s = "Hello World       Palistan"